<!DOCTYPE html>
<html>
<%- include("./partials/head") %>
<body>
	<%- include("./partials/nav") %>
	<main>
		<h1><%= title %></h1>
		<p>Welcome to BrainSpace's <%= title %> page!</p>
	</main>
	<%- include("./partials/footer") %>
</body>
</html>