<!DOCTYPE html>
<html>
	<%- include("./partials/head") %>
	<body>
		<%- include("./partials/nav") %>
		<main>
			<h1><%= title %></h1>
			<p>Welcome to BrainSpace's <%= title %> page!</p>
			<form action="/auth/register" method="post">
				<label for="username">Username</label>
				<input type="text" id="username" name="username" maxlength="255" required>
				<label for="password">Password</label>
				<input type="password" id="password" name="password" maxlength="255" required>
				<div>
					<label for="showPassword">Show Password</label>
					<input type="checkbox" id="showPassword" name="showPassword" onclick="togglePassword()">
				</div>
				<label for="email">Email</label>
				<input type="text" id="email" name="email" maxlength="255" required>
				<input type="submit" value="Submit">
			</form>
		</main>
		<%- include("./partials/footer") %>
	</body>
</html>